# Block 5 Exercise 2: Predicting the fare of taxi rides
Using the NY Taxi data set (see Use Case Block I) and the use case from the lecture...

In [0]:
import pandas as pd
import numpy as np
import folium

In [2]:
#check if notebook runs in colab
import sys
IN_COLAB = 'google.colab' in sys.modules
print('running in Colab:',IN_COLAB)
path='..'
if IN_COLAB:
  #in colab, we need to clone the data from the repo
  !git clone https://github.com/JonasZimmer1994/DataScienceSS20.git
  path='DataScienceSS20'

running in Colab: True
Cloning into 'DataScienceSS20'...
remote: Enumerating objects: 68, done.
remote: Counting objects: 100% (68/68), done.
remote: Compressing objects: 100% (60/60), done.
remote: Total 693 (delta 38), reused 25 (delta 8), pack-reused 625
Receiving objects: 100% (693/693), 106.46 MiB | 23.45 MiB/s, done.
Resolving deltas: 100% (330/330), done.
Checking out files: 100% (194/194), done.

In [0]:
# we load the data we have saved after wrangling and pre-processing in block I
X=pd.read_csv(path+'/DATA/train_cleaned.csv')
drop_columns=['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1','key','pickup_datetime','pickup_date','pickup_latitude_round3','pickup_longitude_round3','dropoff_latitude_round3','dropoff_longitude_round3']
X=X.drop(drop_columns,axis=1)
X=pd.get_dummies(X)# one hot coding
#generate labels
y=X['fare_amount']
X=X.drop(['fare_amount'],axis=1)

In [4]:
# a quick look at the data
X.head()

   pickup_longitude  ...  dropoff_borough_staten_island
0        -73.844311  ...                              0
1        -74.016048  ...                              0
2        -73.982738  ...                              0
3        -73.987130  ...                              0
4        -73.968095  ...                              0

[5 rows x 31 columns]

In [5]:
y.head()

0     4.5
1    16.9
2     5.7
3     7.7
4     5.3
Name: fare_amount, dtype: float64

### E 2.1 Split data into train and test data
* use data from 2009-2014 for training and 2015 for evaluation

In [19]:
Years = X.groupby(X['pickup_year'])
Years.get_group(2009)

        pickup_longitude  ...  dropoff_borough_staten_island
0             -73.844311  ...                              0
9             -73.980658  ...                              0
11            -73.991601  ...                              0
15            -73.981060  ...                              0
20            -73.991707  ...                              0
...                  ...  ...                            ...
399963        -73.992709  ...                              0
399986        -74.008813  ...                              0
399989        -73.983200  ...                              0
399994        -73.951399  ...                              0
399999        -73.969164  ...                              0

[62037 rows x 31 columns]

In [0]:
X_test = Years.get_group(2015)
X_train = X.drop(Years.get_group(2015).index)

In [0]:
y_grouped = y.groupby(X['pickup_year'])
y_test = y_grouped.get_group(2015)
y_train = y.drop(y_grouped.get_group(2015).index)

### E 2.2 Train a Random Forest Regression Model
* train model using [RF regression](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html#sklearn.ensemble.RandomForestRegressor)
* optimize the model parameters (#trees, depth, vars per split, ...) and evaluate the [MSE](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html#sklearn.metrics.mean_squared_error) on train and test data
* Analyze the model error: are there typical settings where the model fails?

In [0]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [0]:
X_train, y_train = make_regression(n_features=4, n_informative=2, random_state=0, shuffle=False)

In [0]:
regr = RandomForestRegressor(max_depth=2, random_state=0)

In [36]:
regr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=2, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)